.headerContainer {
    display: flex;
    flex-direction: column;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 1rem;
    padding-right: 4rem;
    height: 90px;
}

.subHeader {
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeaderContainer {
    width: 50%;
}

.search {
    display: flex;
    column-gap: 10px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-width: 15%;
}

.btn {
    padding: 0 1rem;
    margin-right: 10px;
}