.list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.listItem {
    border-right: 1px solid blue;
    padding: 0 20px;
}

.listItem:hover {
    color: blue;
}

.list > .listItem:last-child {
    border: none;
}